# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Database & SQLite
*.sqlite3
*.db

# Django & Media
media/
db.sqlite3

# OS / IDE
.DS_Store
.vscode/
.idea/
*.log

# Secret & Data Files
client_secret*.json
*.json
!static/manifest.json
